.header{
    height: 34vw;
    margin: 30px auto;
    background: url('https://png.pngtree.com/background/20210710/original/pngtree-black-meat-western-food-banner-background-picture-image_1013905.jpg') no-repeat;
    background-size:cover;
    position: relative;
    border-radius: 10px; 
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1.5vw;
    max-width: 50%;
    text-align: center;
    animation: fadeIn 3s;
    

}
.header-contents h2{
    font-weight:500;
    color: orange;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: white;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: rgb(158, 190, 231);
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}